<div >
    {{#each products}}
        <div>
            <h2>{{this.nombre}}</h2>
            <p>{{this.descripcion}}</p>
            <p>{{this.precio}}</p>
            <p>{{this.stock}}</p>
            <p>{{this.categoria}}</p>
            <p>{{this.imagen}}</p>
        </div>
    {{/each}}
</div>